@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }

<h2>Upload Csv File</h2>
<br />

@using (Html.BeginForm("CsvUpload", "Csv", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<fieldset class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2" for="csv">Csv File</label>
        <div class="col-md-10">
            <input type="file" name="csv" />
        </div>
    </div>
    <div class="form-group">
        &nbsp;
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn" />
        </div>

    </div>
</fieldset>}